---
import "../styles/tailwind.generated.css";
import "@app-icon-maker/ui";
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>App Icon Maker</title>
  </head>
  <body class="bg-background text-foreground">
    <slot />
  </body>
</html>
